<?xml version="1.0" ?>
<model>
  <name>basic_rover</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

+ <author>
+   <name>Craig Reid</name>
+   <email>creid@melbournespace.com.au</email>
+ </author>

  <!-- includes code from Steve Peters found at https://bitbucket.org/osrf/gazebo_models/pull-requests/82/vehicle-models-with-steering-and-soft/diff -->
+ <author>
+   <name>Steve Peters</name>
+   <email>scpeters@osrfoundation.org</email>
+ </author>

+ <description>
+   A 4-wheel cart with rigid suspension and custom steer skid drive plugin.
+ </description>
</model>
