<?xml version="1.0" ?>
<model>
    <name>wombat</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Craig Reid</name>
        <email>creid@melbournespace.com.au</email>
    </author>
    <description>Mesh taken from Nova Rover Chassis Team</description>
</model>
