<?xml version="1.0"?>

<model>
  <name>Utah Desert Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Craig Reid</name>
    <email>creid@melbournespace.com.au</email>
  </author>
  <description>
    Terrain file taken from http://terrain.party
  </description>
</model>
