<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="wombat"/>
  <arg name="verbose" default="true" />

  <!-- Launch world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find autonomous_sim)/worlds/competition_small.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)" />
  </include>

  <include file="$(find autonomous_sim)/launch/static_tf_publishers.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Load the SDF into the ROS Parameter Server -->
  <param name="robot_model" textfile="$(find autonomous_sim)/models/$(arg model)/model.sdf"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a SDF robot -->
  <node name="sdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-x 0 -y 0 -z 0 -Y 0 -sdf -model model -param robot_model"/>

</launch>
